#myFooter{
    padding-top:32px;
}

#myFooter .container{
    text-align: center;
}

#myFooter .footer-copyright{
    margin-bottom: 35px;
    text-align: center;
    color: #777;
    font-size: 15px;
}

#myFooter ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 18px;
}

#myFooter a{
    color: #282b2d;
    font-size: 15px;
}

#myFooter li{
    display: inline-block;
    margin: 0px 15px;
    line-height: 2;
}

#myFooter .barra{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #eee;
}

#myFooter .fa{
    font-size: 15px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition:color 0.2s;
}


/* CSS utilizado para posicionar o rodapé no final da página. */
/* Você pode remover isso. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.linha{
    margin: 3%;
    border: solid 0.2px var(--colorAzul5_20);
}
.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}